  /* 1. 모바일 퍼스트 기본 레이아웃 */
  html, body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
  }

  /* 컨테이너 공통 스타일, 모든 페이지 공통 적용 */
  .container {
    width: 100dvw;
    height: 100dvh;
    max-width: 600px;
    /* max-width: 402px;  아이폰16 가로 크기 */
    margin: 0 auto;    /* 가로 중앙 정렬 */
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-item: center; */
  }

  /* 2. 데스크탑, 태블릿 대응 - 화면 넓을 때
  @media only screen and (min-width: 600px) {
    .container {
      max-width: 600px;
      height: 100vh;
      min-height: 874px;
    }
    .text-overlay {
      font-size: 2.5rem;
    }
  }

  3. 더 큰 화면용 추가 미디어 쿼리
  @media only screen and (min-width: 900px) {
    .container {
      max-width: 900px;
    }
    .text-overlay {
      font-size: 3rem;
    }
  } */

  #root {
    width: 100dvw;
    height: 100dvh;
    /* --vh: 100%; */
  }


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
